---
import { Image } from "astro:assets";
import Container from "./Container.astro";

import andres_bilbao_profile from "../../public/images/staff/andres_bilbao_profile.jpg";
import lorena_sanchez_profile from "../../public/images/staff/lorena_sanchez_profile.jpg";

import Rappi from "../../public/images/startups/rappi.png";
import Makers from "../../public/favicon.svg";
import Rockstart from "../../public/images/startups/rockstart.png";
import Linio from "../../public/images/startups/linio.png";
---

<section class="flex text-center">
  <Container>
    <h2
      class="mb-20 space-y-4 text-5xl font-bold text-gray-800 md:text-4xl dark:text-white"
    >
      Founders & Leaders
    </h2>
    <div
      class="grid md:grid-cols-2 justify-items-center text-gray-800 dark:text-white gap-8 w-full"
    >
      <article
        class="lg:flex gap-8 h-full w-full my-0 p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <Image
          src={lorena_sanchez_profile}
          alt="Lorena Sanchez smiley face"
          width={130}
          height={130}
          class="rounded-full w-[130px] h-[130px] block mx-auto lg:mx-0"
        />
        <div class="my-auto text-center lg:text-left pt-6 lg:pt-0">
          <h3 class="font-semibold text-2xl">Lorena Sanchez García</h3>
          <ul class="list-none">
            <li class="text-pretty dark:text-white/90 mt-2">
              Leader & Co-founder
            </li>
            <li class="h-fit mt-2">
              <div class="flex items-center gap-3 mx-auto lg:mx-0 w-fit">
                <Image
                  src={Rappi}
                  class="block h-[30px] w-[80px]"
                  alt="Rappi Logo"
                  width={80}
                  height={30}
                />
                <Image
                  src={Rockstart}
                  alt="Rockstart Logo"
                  class="block h-[50px] w-[50px]"
                  width={50}
                  height={50}
                />
                <Image
                  src={Linio}
                  alt="Linio Logo"
                  class="block h-[30px] w-[80px]"
                  width={80}
                  height={30}
                />
              </div>
            </li>
          </ul>
        </div>
      </article>

      {/* Second Item */}
      <article
        class="lg:flex gap-8 h-full w-full my-0 p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <Image
          src={andres_bilbao_profile}
          alt="Andres Bilbao smiley face"
          width={130}
          height={130}
          class="rounded-full w-[130px] h-[130px] block mx-auto lg:mx-0"
        />
        <div class="my-auto text-center lg:text-left pt-6 lg:pt-0">
          <h3 class="font-semibold lg:text-2xl">Andrés Bilbao</h3>
          <ul class="list-none">
            <li class="text-pretty dark:text-white/90 mt-2">Co-founder</li>
            <li class="h-fit mt-2">
              <div class="flex items-center gap-3 mx-auto lg:mx-0 w-fit">
                <Image
                  src={Rappi}
                  class="block h-[30px] w-[80px]"
                  alt="Rappi Logo"
                  width={80}
                  height={30}
                />
                <Image
                  src={Makers}
                  alt="Makers Logo"
                  class="block h-[50px] w-[50px]"
                  width={50}
                  height={50}
                />
              </div>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </Container>
</section>
